/* Reset de márgenes y bordes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño de la página */
body {
    font-family: 'Saira', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.outfit-display {
    text-align: center;
}

.outfit-display img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.outfit-display p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 400px;
    color: #444;
}